aside .img {
  box-sizing: border-box;
}

body {
  background-color: #808B96;
  font-family: Trebuchet, sans-serif;
  color: #302F2F;
}

.wrapper {
  background-color: #ffffff;
  width: 98%;
  max-width: 800px;
  margin: 0 auto;
  padding: 12px 20px;
}

h1 {
  margin-bottom: .5em;
}

h1#page-title {
  margin: 0;
}

h2{
  margin-bottom: .25em;
  margin-top: 1em;
}

h1, h2, h3, legend {
  color: #424949;
}

.image {
  margin: 2em 0;
}

.caption {
  font-style: italic;
  margin-top: .25em;
}

a {
  color: #283747;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding-left: 20px;
  margin-top: 8px;
}

p {
  line-height: 1.4em;
}

header{
  background-image: url(../images/tree_bark.png);
  text-align: center;
  border-bottom: 2px solid #d6d6d6;
}

header.wrapper {
  padding: 26px 20px;
}

#footer-details{
  background-image: url(../images/tree_bark.png);
  font-size: x-small;
  text-align: center;
  padding: 26px 20px;
  border-top: 2px solid #d6d6d6
}

article {
  padding-top: 14px;
}

aside h2 {
  font-size: 1.4rem;
}

form {
  padding-top: 14px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

th {
  text-align: center;
}

table#t01 {
  width: 100%;
}

table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
  background-color: #fff;
}

caption {
  font-style: italic;
}
